.icon {
    weight:40px;
    height: 40px;
}
.project-img {
    height: 300px;          /* choose what looks good: 180–240px */
    object-fit: cover;      /* crop, don’t stretch */
    width: 100%;
}
.certificates_logo {
    weight:40px;
    height: 40px;
}